h1 {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.copyright {
    font-size: 10px;
}

.img {
    transform: rotate(90deg);
    border: 2px solid black;
  display: inline-flex;
}